.admin{
    background-color:#e8e8e8;
    width: 100vw;
    height: 100vh;
    color:gray;
    font-weight: 600;
    padding: 40px;
}
.forms-addproduct{
    background-color: white;
    width: 75%;
    padding: 45px;
}

.forms-addproduct input{
    padding: 10px;
    margin-top: 15px;
}

.forms-product-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.forms-product-price{
    display: flex;
}
.forms-product{
    display: flex;
    flex-direction: column; 
    width: 50%;
    margin: 20px 0 20px;
}
.offer{
    margin-left: 40px;
}

.forms-product-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.forms-product-category select{
    padding: 10px;
    width: 15%;
    margin: 15px 0 20px;
    color:gray;
}
.upload-image label{
    cursor: pointer;
}
.upload-image img{
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.btn-forms{
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    background-color:orangered;
    color:white;
    margin: 30px 0 20px;
    cursor: pointer;
}

